venv/
db.sqlite3
testing/dirsearch/logs/*.log
testing/output/subdomain/*
testing/output/directory/*
testing/output/wayback/*
testing/output/jsurl/*
testing/output/secrets/*
testing/output/linkfinder/*
.vscode/

# Django stuff:
*.log
local_settings.py

# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
