asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
colored==1.4.2
cryptography==3.4.6
Django==3.1.7
django-background-tasks==1.2.5
django-compat==1.0.15
django-crispy-forms==1.11.2
dnspython==2.1.0
EditorConfig==0.12.3
feedparser==6.0.2
filelock==3.0.12
github3.py==1.0.0a2
idna==2.10
jsbeautifier==1.13.5
lxml==4.6.2
ndg-httpsclient==0.5.1
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==20.0.1
PySocks==1.6.8
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
sgmllib3k==1.0.0
six==1.15.0
sqlparse==0.4.1
tldextract==3.1.0
uritemplate==3.0.1
uritemplate.py==3.0.2
urllib3==1.24.3
