{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}

    {% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'testing/font-awesome.min.css' %}"> -->
<link href="https://cdn.jsdelivr.net/gh/iamnihal/warf/testing/static/testing/font-awesome.min.css" rel="stylesheet" />
    

<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'testing/util.css' %}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'testing/main.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/gh/iamnihal/warf/testing/static/testing/util.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/iamnihal/warf/testing/static/testing/main.css" rel="stylesheet" />
     
<!--===============================================================================================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	
    {% block content %}

    {% endblock %}
</body>
</html>