{% extends "testing/base.html" %}

{% block title %}
<title>Directory Brute Force</title>
{% endblock %}

{% block content %}

                <h1 class="mt-4">Directory Brute-Force</h1>
                <!-- <ol class="breadcrumb mb-4"> -->
                    <form action="{% url 'directory-page' %}" id="subFormId" method="POST">
                    {% csrf_token %}
                    <div class="form-outline">
                            <input type="text" id="formControlLg" class="form-control form-control-lg" name="directory" required/>
                            <label class="form-label" for="formControlLg">URL</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger" onclick=loadingPage()>Submit</button>
                </form>

{% endblock %}