{% extends 'testing/base-tools.html' %}

{% block title %}
	<title>Directories</title>
{% endblock %}
	
{% block content %}
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
    

    <div class="input-group mb-2 float-right" style="width: 300px">
        <input type="text" id="dirs" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary float-right" type="button">Search</button>
        </div>
      </div>

				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Directory</th>
								<th class="column2">Response Size</th>
								<th class="column3">Status Code</th>
								<!-- <th class="column4">Price</th>
								<th class="column5">Quantity</th>
								<th class="column6">Total</th> -->
							</tr>
						</thead>
						<tbody id="directories">
                            {% for directory, size, status in context %}
								<tr>
									<td class="column1">{{ directory }}</td>
									<td class="column2">{{ size }}</td>
									<td class="column3">{{ status }}</td>
									<!-- <td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td> -->
								</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

    <script>
        $(document).ready(function() {
            $("#dirs").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#directories tr").filter(function() {
                    $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}