{% extends 'testing/base-tools.html' %}

{% block title %}
	<title>Directories</title>
{% endblock %}
	
{% block content %}

<a href="{% url 'download-result' %}?scan=directory" class="btn btn-danger float-right" download>Download Report</a>

								<th class="column1">Directory</th>
								<th class="column2">Response Size</th>
								<th class="column3">Status Code</th>
								<!-- <th class="column4">Price</th>
								<th class="column5">Quantity</th>
								<th class="column6">Total</th> -->
							</tr>
						</thead>
						<tbody id="id_tbody">
                            {% for directory, size, status in context %}
								<tr>
									<td class="column1">{{ directory }}</td>
									<td class="column2">{{ size }}</td>
									<td class="column3">{{ status }}</td>
									<!-- <td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td> -->
								</tr>
                            {% endfor %}
					
                            
<!-- <script>

    function getFile() {
    $.ajax({
                type: 'GET',
                url: "{% url 'directory_ajax' %}",
                success: function (data) {
                    console.log("Got the file")
                    },
                error: function (data) {
                    console.log("Didn't get the file")
                }
            });
        }
    
        $(document).ready(function() {
        setInterval(getFile, 3000);
    });
</script> -->

{% endblock %}