<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="subs/" method="post" onsubmit="myDomain()">
        {% csrf_token %}
        <label>Domain: </label>
        <input type="text" name="subdomains" id="sub-id" required>
        <input type="submit" value="Find Subdomains">
    </form>

    <hr/>

    <form action="directory/" method="post" onsubmit="myDirectory()">
        {% csrf_token %}
        <label>URL: </label>
        <input type="text" name="directory" id="directory-id" required>
        <input type="submit" value="Directory Brute Force">
    </form>

    <hr/>

    <form action="wayback/" method="post" onsubmit="myUrl()">
        {% csrf_token %}
        <label>Domain: </label>
        <input type="text" name="waybackurl" id="waybackurl-id" required>
        <input type="submit" value="Find Waybackurls">
    </form>

    <hr/>
    
    <form action='jsfiles/' method="post" onsubmit="myJsFiles()">
        {% csrf_token %}
        <label>Domain: </label>
        <input type="text" name="jsfile" id="jsfile-id" required>
        <input type="submit" value="Find Javascript Files">
    </form>
    
    <hr/>

    <form action='jsecret/' method="post" onsubmit="myJsecret()">
        {% csrf_token %}
        <label>Domain: </label>
        <input type="text" name="jsecret" id="jsecret-id" required>
        <input type="submit" value="Find Secret Keys from JS files">
    </form>

    <hr/>

    <form action='jslinks/' method="post" onsubmit="myJsLinks()">
        {% csrf_token %}
        <label>Domain: </label>
        <input type="text" name="jslinks" id="jslink-id" required>
        <input type="submit" value="Find links from JS files">
    </form>

    <script>
        function myDomain(){
            mySub = document.getElementById('sub-id').value;
            txt = document.createElement("TEXT");
            txt.innerHTML = "Finding subdomains for  "+mySub;
            document.body.appendChild(txt);
        }

        function myDirectory(){
            mySub = document.getElementById('directory-id').value;
            txt = document.createElement("TEXT");
            txt.innerHTML = "Directory Brute Force for  "+mySub;
            document.body.appendChild(txt);
        }

        function myUrl(){
            mySub = document.getElementById('waybackurl-id').value;
            txt = document.createElement("TEXT");
            txt.innerHTML = "Fetching WaybackUrls for  "+mySub;
            document.body.appendChild(txt);
        }

        function myJsFiles(){
            mySub = document.getElementById('jsecret-id').value;
            txt = document.createElement("TEXT");
            txt.innerHTML = "Finding JS Files for  "+mySub;
            document.body.appendChild(txt);
        }

        function myJsecret(){
            mySub = document.getElementById('jsecret-id').value;
            txt = document.createElement("TEXT");
            txt.innerHTML = "Extracting Secret Keys from Javascript files for  "+mySub;
            document.body.appendChild(txt);
        }

        function myJsLinks(){
            mySub = document.getElementById('jslink-id').value;
            txt = document.createElement("TEXT");
            txt.innerHTML = "Extracting links from Javascript files for  "+mySub;
            document.body.appendChild(txt);
        }

    </script>
    <div>
        <hr>
        {% for subs in subdom %}
        <div style="font-size:large; font-family:'Times New Roman', Times, serif; font-size: larger;">{{ subs }}</div>
        {% endfor %}
    </div>
    
</body>
</html>