{% extends 'testing/base-tools.html' %}

{% block title %}
	<title>Endpoints from JavaScript</title>
{% endblock %}
	
{% block content %}
<ul class="list-group" style="max-width: 500px">
  <a href="{% url 'fullscan-subdomain' %}?type=subdomain" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
    Subdomains
    <span class="badge bg-primary rounded-pill">{{ context.subdom|length }}</span>
  </li></a>
  <a href="{% url 'fullscan-directory' %}?type=directory" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
    Directory Brute Force
    <span class="badge bg-primary rounded-pill">{{ context.directory_link|length }}</span>
  </li></a>
  <a href="{% url 'fullscan-wayback' %}?type=wayback" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
    Wayback URLs
    <span class="badge bg-primary rounded-pill">{{ context.wayback_url|length  }}</span>
  </li></a>
  <a href="{% url 'fullscan-jsurl' %}?type=jsurl" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
    JavaScript URLs
    <span class="badge bg-primary rounded-pill">{{ context.js_url|length }}</span>
  </li></a>
  <a href="{% url 'fullscan-secrets' %}?type=secrets" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
    Secret Keys
    <span class="badge bg-primary rounded-pill">{{ context.js_secrets|length }}</span>
  </li></a>
  <a href="{% url 'fullscan-linkfinder' %}?type=linkfinder" target="_blank"><li class="list-group-item d-flex justify-content-between align-items-center">
    Links from JS files
    <span class="badge bg-primary rounded-pill">{{ context.js_link|length }}</span>
  </li></a>
</ul>

    <script>
        $(document).ready(function() {
            $("#js").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#jsfiles tr").filter(function() {
                    $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}