{% extends 'testing/base-tools.html' %}

{% block title %}
	<title>Fullscan Results</title>
{% endblock %}
	
{% block content %}
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
    

    <div class="input-group mb-2 float-right" style="width: 300px">
        <input type="text" id="subs" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary float-right" type="button">Search</button>
        </div>
      </div>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Subdomains</th>
								<!-- <th class="column2">Order ID</th>
								<th class="column3">Name</th>
								<th class="column4">Price</th>
								<th class="column5">Quantity</th>
								<th class="column6">Total</th> -->
							</tr>
						</thead>
						<tbody id="subdomain">
                            {% for subdomain in context %}
								<tr>
									<td class="column1">{{ subdomain }}</td>
									<!-- <td class="column2">{{ directory.directory_link }}</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td> -->
								</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

    <script>
        $(document).ready(function() {
            $("#subs").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#subdomain tr").filter(function() {
                    $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}