{% extends "testing/base.html" %}

{% block title %}
<title>Full Scan</title>
{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Full Scan</h1>
                <!-- <ol class="breadcrumb mb-4"> -->
                    <form action="{% url 'fullscan-page' %}" id="subFormId" method="POST">
                    {% csrf_token %}
                    <div class="form-outline">
                            <input type="text" id="formControlLg" class="form-control form-control-lg" name="fullscan" required/>
                            <label class="form-label" for="formControlLg">Domain</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger" onclick=loadingPage()>Submit</button>
                </form>

                <div id="spinner"></div>
                </div>
                <div style="height: 100vh"></div>
                <div class="card mb-4"><div class="card-body"></div></div>
                </div>
        </main>
    </div>
<script>
   function loadingPage() {

if(document.getElementById("formControlLg").value.length !== 0) 
{
  //Create outer div
  let div = document.createElement("div")
  div.id = 'spinner-box'
  div.className = 'text-center mt-3'

  //Create inner div
  let innerdiv = document.createElement("div")
  innerdiv.role = 'status'
  innerdiv.className = 'spinner-border text-primary'
  
  div.appendChild(innerdiv);
  document.getElementById("spinner").appendChild(div);
   }
   }
</script>
<script>
    $(document).ready(function () {
    $("#subFormId").submit(function () {
        $(".btn").attr("disabled", true);
        return true;
    });
});
</script>
{% endblock %}