{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Subdomains</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'testing/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'testing/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'testing/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Secret Keys from JS Files</th>
							</tr>
						</thead>
						<tbody>
                            {% for secret in context %}
								<tr>
									<td class="column1"><a>{{ secret|truncatechars:100 }}</a></td>
									<!-- <td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td> -->
								</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>