{% extends "testing/base.html" %}

{% block title %}
<title>Secret/API Keys</title>
{% endblock %}

{% block content %}

                <h1 class="mt-4">Extract Secret/API Keys from JS Files</h1>
                <!-- <ol class="breadcrumb mb-4"> -->
                    <form action="{% url 'secret-page' %}" id="subFormId" method="POST">
                    {% csrf_token %}
                    <div class="form-outline">
                            <input type="text" id="formControlLg" class="form-control form-control-lg" name="secret" required/>
                            <label class="form-label" for="formControlLg">Domain</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger" onclick=loadingPage()>Submit</button>
                </form>

{% endblock %}