{% extends "testing/base.html" %}

{% block title %}
<title>Subdomain Discovery</title>
{% endblock %}

{% block content %}

                <h1 class="mt-4">Subdomain Discovery</h1>
                <!-- <ol class="breadcrumb mb-4"> -->
                    <form action="{% url 'subdomain-page' %}" id="subFormId" method="POST">
                    {% csrf_token %}
                    <div class="form-outline">
                            <input type="text" id="formControlLg" class="form-control form-control-lg" name="subdomain" required/>
                            <label class="form-label" for="formControlLg">Domain</label>
                    </div>
                    <br>
                    <button type="submit" id="btnSubmit" class="btn btn-danger" onclick="loadingPage()">Submit</button>
                </form>

                <div id="spinner"></div>
                </div>

                <div class="container-fluid">
                    <h1 class="mt-4">Subdomain Discovery from Github</h1>
                        <form action="{% url 'subdomain-page' %}" id="gitsubFormId" method="POST">
                        {% csrf_token %}
                        <!-- Domain -->
                        <div class="form-outline">
                                <input type="text" id="formControlLg" class="form-control form-control-lg" name="github-subdomain" required/>
                                <label class="form-label" for="formControlLg">Domain</label>
                        </div>
                        <br>
                        <!-- Token -->
                        <div class="form-outline">
                        <input type="text" id="formControlLg" class="form-control form-control-lg" name="github-token" required/>
                        <label class="form-label" for="formControlLg">Github Token</label>
                        </div>
                        <br>
                        <button type="submit" id="btnSubmit" class="btn btn-danger" onclick="loadingPage()">Submit</button>
                    </form>
                    </div>


<script>
    $(document).ready(function () {
    $("#gitsubFormId").submit(function () {
        $(".btn").attr("disabled", true);
        return true;
    });
});
</script>
{% endblock %}