{% extends "testing/base.html" %}

{% block title %}
<title>Wayback URLs</title>
{% endblock %}

{% block content %}

                <h1 class="mt-4">Wayback Machine URLs</h1>
                    <form action="{% url 'wayback-page' %}" id="subFormId" method="POST">
                    {% csrf_token %}
                    <div class="form-outline">
                            <input type="text" id="formControlLg" class="form-control form-control-lg" name="wayback" required/>
                            <label class="form-label" for="formControlLg">Domain</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger" onclick=loadingPage()>Submit</button>
                </form>

{% endblock %}