{% extends 'scanEngine/base-tools.html' %}

{% block title %}
<title>Directories</title>
{% endblock %}

{% block content %}

<a href="{% url 'download-result' %}?scan=directory" class="btn btn-danger float-right" download>Download Report</a>

<th>Directory</th>
<th>Response Size</th>
<th>Status Code</th>
</tr>
</thead>
<tbody>
    {% for directory, size, status in context %}
    <tr>
        <td><a href="{{ directory }}" target="_blank">{{ directory }}</a></td>
        <td>{{ size }}</td>
        <td>{{ status }}</td>
    </tr>
    {% endfor %}
    {% endblock %}