{% extends "scanEngine/base.html" %}

{% block title %}
<title>Wordlist Setting</title>
{% endblock %}

{% block content %}

<div class="list-group" style="margin-top: 50px; max-width: 600px;">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Directory Brute-force Wordlist</h5>
            <small>(Optional)</small>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div style="margin-top: 20px;">
            <form method="POST" action="{% url 'wordlist-page' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" class="form-control-file" id="FormControlFile" name="myfile">
                    <input type="submit" class="btn btn-danger" style="margin-top: 15px;" name="submit" value="Upload">
                </div>
            </form>
        </div>
    </a>
</div>

{% block ajaxContent %}
{% endblock %}

{% endblock %}