{% extends "testing/base.html" %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}

<div class="mt-4"></div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message|safe }}
</div>
{% endfor %}
{% endif %}

<div class="row border-bottom">

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header">Subdomain</div>
            <div class="card-body">
            <h5 class="card-title">{{ context.subdomain|length }} Subdomain Scan</h5>
            <a class="link-white card-footer pt-1" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-warning mb-3" style="max-width: 25rem;">
            <div class="card-header text-dark">Directory BruteForce</div>
            <div class="card-body">
            <h5 class="card-title text-dark">{{ context.directory|length }} Directory BruteForce Scan</h5>
            <a class="link-white card-footer pt-1 text-dark" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
            <div class="card-header">Wayback URLs</div>
            <div class="card-body">
            <h5 class="card-title">{{ context.wayback|length }} Wayback Scan</h5>
            <a class="link-white card-footer pt-1" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
            <div class="card-header">JS URLs Discovery</div>
            <div class="card-body">
            <h5 class="card-title">{{ context.jsurl|length }} JS Discovery Scan</h5>
            <a class="link-white card-footer pt-1" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
            <div class="card-header text-dark">Secret/API Keys</div>
            <div class="card-body">
            <h5 class="card-title text-dark">{{ context.secrets|length }} Secret Keys Scans</h5>
            <a class="link-white card-footer pt-1 text-dark" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">Links From JS Files</div>
            <div class="card-body">
            <h5 class="card-title">{{ context.endpoint|length }} LinkFinder Scan</h5>
            <a class="link-white card-footer pt-1" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header">Targets</div>
            <div class="card-body">
            <h5 class="card-title">{{ context.scan_info|length }} Targets</h5>
            <a class="link-white card-footer pt-1" href="#">View</a>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3 col-md-6">
        <div class="card text-dark bg-warning mb-3" style="max-width: 25rem;">
            <div class="card-header">Scans</div>
            <div class="card-body">
            <h5 class="card-title">{{ context.scans|length }} Scans</h5>
            <a class="link-dark card-footer pt-1" href="#">View</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2020</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</body>

</html>