{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<h1 class="display-6 border-bottom mx-2 pb-2">Reset Password</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col" style="padding: 10px;">
            {{ form|crispy }}
        </div>
    </div>
    <div style="padding: 10px;">
        <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
    </div>
</form>
<div class="border-top pt-3">
    <small style="padding: 10px;">
        Create New Account! <a class="ml-2 text-decoration-none fw-bold" href="{% url 'register' %}">SIGN UP</a>
    </small>
</div>
{% endblock %}