{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col" style="padding: 10px;">
            {{ form|crispy }}
        </div>
    </div>
    <div style="margin-left: 10px;" class="text-muted">
      Password suggestion: <span style="color:black;">{{ password }}</span>
    </div>
    <div style="padding: 10px;">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
</form>
<div class="border-top pt-3">
    <small style="padding: 10px;">
        Have an account? <a class="ml-2" href="{% url 'login' %}"><b>LOG IN</b></a>
    </small>
</div>
{% endblock %}