{% extends "testing/base.html" %}

{% block title %}
<title>{{ scan_target_name|title }}</title>
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} text-center">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="pt-3 pb-3">
    <h4><span class="badge bg-primary">{{ scan_target_name|title }}</span></h4>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card border border-primary mb-3" style="max-width: 50rem;">
            <div class="card-header text-white text-center bg-primary">
                {{ scan_target_name|upper  }}
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="card-header text-center text-primary">
                    <p>Scan type:</p>
                    <input type="text" name="scan-type" value="{{ scan_type }}" disabled>
                </div>
                <div class="card-body text-primary text-center">
                    <p>Domain/Endpoint:</p>
                    <input type="text" name="domain-url" value="{{ scan_domain_url }}" disabled>
                </div>
                <div class="card-footer text-center">
                    <!-- <a href="/targets/{{ target.id }}" type="submit" class="btn btn-primary">Scan</a> -->
                    <button class="btn btn-primary" type="submit"
                        href="targets/start-scan/{{ scan_item.id }}/">Scan</button>
                </div>
            </form>
            <div class="text-center mb-2">
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'scan-result' scan_item.id %}?scan={{ scan_type }}" target="_blank"
                    class="btn btn-success">Result</a>
                {% endif %}
            </div>
            <div class="card-footer text-center">
                {% if scan_type|stringformat:'s' == "Subdomain" %}
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'download-target-result' scan_item.id %}?scan=subdomain"
                    class="btn btn-outline-primary text-center" download>Download Report</a>
                {% endif %}
                {% endif %}

                {% if scan_type|stringformat:'s' == "Dirsearch" %}
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'download-target-result' scan_item.id %}?scan=directory"
                    class="btn btn-outline-primary text-center" download>Download Report</a>
                {% endif %}
                {% endif %}

                {% if scan_type|stringformat:'s' == "Wayback URL" %}
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'download-target-result' scan_item.id %}?scan=wayback"
                    class="btn btn-outline-primary text-center" download>Download Report</a>
                {% endif %}
                {% endif %}

                {% if scan_type|stringformat:'s' == "JS File Discovery" %}
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'download-target-result' scan_item.id %}?scan=jsurl" class="btn btn-outline-primary text-center"
                    download>Download Report</a>
                {%  endif %}
                {% endif %}

                {% if scan_type|stringformat:'s' == "Secret/API key" %}
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'download-target-result' scan_item.id %}?scan=secret" class="btn btn-outline-primary text-center"
                    download>Download Report</a>
                {%  endif %}
                {% endif %}

                {% if scan_type|stringformat:'s' == "Endpoint from JS" %}
                {% if result_filename|stringformat:'s' == "Null" or result_filename|stringformat:'s' == "None" %}
                {% else %}
                <a href="{% url 'download-target-result' scan_item.id %}?scan=linkfinder"
                    class="btn btn-outline-primary text-center" download>Download Report</a>
                {% endif %}
                {% endif %}

            </div>
            <div class="card-footer text-center">
                <a class="btn btn-danger" href="{% url 'target-delete' scan_item.id %}">Delete</a>
            </div>
            <div class="text-muted text-center">
                {{ scan_date_posted|date:"F d, Y" }}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
</div>
</div>
</body>

</html>